:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222320;
  background-color: #eee9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 14px;
}

/* element-plus */

.main-scroll.el-dialog.is-fullscreen {
  overflow: hidden;
}
/* .el-overlay-dialog */
.main-scroll.el-dialog.is-fullscreen {
  display: flex;
  flex-direction: column;
}
.main-scroll .el-dialog__body {
  overflow-y: auto;
  flex-shrink: 2;
  flex-grow: 2;
}
